<div class="header-main">
    <img src="./assets/account_circle_24dp_FILL0_wght400_GRAD0_opsz24.png" class="header-image">
    <div class="header-div" >User Management</div>
    <button class="logout btn m-2 text-12" (click)="Logout()">Logout</button>

    
</div>
   