.header-image{
    height: 40px;
    width: 40px;
    margin-left: 5px
}
// .header-div{
//     display: inline-block;
//     background-color: rgb(147, 211, 244);
//     padding-left: 33%;
//     font-weight: bold;
//     font-family: Arial, Helvetica, sans-serif;
// }
.header-main{
    background:#209E91;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-btn{
    background-color: rgb(187, 210, 202);
    margin-left: 37%; 
    height:36px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
// .my-button {
//     position: relative; 
//      margin-left: 35%;
//   }

.header-div{
    color: #ffffff;
}
.text-12{
font-size: 12px;
}
.logout{
    background: #209E91;
    border: 1px solid #ffffff;
color: #ffffff;
}
