<app-header></app-header>
<div>
    <h3 class="border-2 rounded-1 hea">User Creation page :</h3>
</div>
<form [formGroup]="userCreationForm">
    <div class="border-2 mainform mt-4">
    <!-- First Name -->
    <div class="row">
      <div class="form-group col">
        <label for="firstName" class="text-muted">Enter First Name:</label>
        <input formControlName="FIRSTNAME" type="text" class="form-control" placeholder="First name*">
        <small class="text-danger" *ngIf="userCreationForm.get('FIRSTNAME').dirty && userCreationForm.get('FIRSTNAME').hasError('startsWith')">Invalid First name format</small>
        <small class="text-danger" *ngIf="userCreationForm.get('FIRSTNAME').dirty && userCreationForm.get('FIRSTNAME').hasError('required')">First name is required</small>
    </div>

     <!-- Middle Name -->
         <div class="form-group col">
            <label for="email"class="text-muted"></label>
            <input formControlName="MIDDLENAME" type="email" class="form-control" placeholder="Middle name" >
         </div>
    
     <!-- Last Name -->
         <div class="form-group col">
            <label for="email"class="text-muted"></label>
            <input formControlName="LASTNAME" type="email" class="form-control" placeholder="Last name*"  >
            <small class="text-danger" *ngIf="userCreationForm.get('LASTNAME').dirty && userCreationForm.get('LASTNAME').hasError('startsWith')">Invalid last name format</small>
            <small class="text-danger" *ngIf="userCreationForm.get('LASTNAME').dirty && userCreationForm.get('LASTNAME').hasError('required')">last name is required</small>
           

         </div>
    </div>

    <div class="row">
        <!-- Email -->
        <!-- <div class="form-group col">
           <label for="email"class="text-muted">Enter Email</label>
           <input formControlName="EMAIL" type="email" class="form-control" id="email" placeholder="Email*"  name="email">
           <small class="text-danger" *ngIf="userCreationForm.controls['EMAIL'].dirty && userCreationForm.hasError('required','EMAIL')">*Email is required</small>
        </div> -->
        <div class="form-group col">
          <label for="email" class="text-muted">Enter Email</label>
          <input formControlName="EMAIL" type="email" class="form-control" id="email" placeholder="Email*" name="email">
          <small class="text-danger" *ngIf="userCreationForm.get('EMAIL').dirty && userCreationForm.get('EMAIL').hasError('email')">Invalid email format</small>
          <small class="text-danger" *ngIf="userCreationForm.get('EMAIL').dirty && userCreationForm.get('EMAIL').hasError('required')">Email is required</small>
      </div>
        <!-- Adhar Number -->
        <div class="form-group col">
          <label for="adharNumber" class="text-muted">Enter Aadhar Number</label>
          <input formControlName="ADHARNO" type="text" class="form-control" id="adharNumber" placeholder="Aadhar number*" name="adharNumber">
          <small class="text-danger" *ngIf="userCreationForm.get('ADHARNO').dirty && userCreationForm.get('ADHARNO').hasError('digit')">Invalid Aadhar number format</small>
          <small class="text-danger" *ngIf="userCreationForm.get('ADHARNO').dirty && userCreationForm.get('ADHARNO').hasError('required')">Aadhar number is required</small>
      </div>
      <div class="form-group col">
        <label for="phoneNumber" class="text-muted">Enter Phone Number</label>
        <input formControlName="PHONE" type="text" class="form-control" id="phoneNumber" placeholder="Phone number*" name="phoneNumber">
        <small class="text-danger" *ngIf="userCreationForm.get('PHONE').dirty && userCreationForm.get('PHONE').hasError('PHONE')">Invalid Phone number format</small>
        <small class="text-danger" *ngIf="userCreationForm.get('PHONE').dirty && userCreationForm.get('PHONE').hasError('PHONE')">Phone number is required</small>
    </div>
    
    </div>

      <div class="form-group ">
        <label class="text-muted">Enter Address 1</label>
        <input formControlName="ADDRESSONE" type="email" class="form-control"  placeholder="Address lane 1*" >
        <small class="text-danger" *ngIf="userCreationForm.controls['ADDRESSONE'].dirty && userCreationForm.hasError('required','ADDRESSONE')">*Address is required</small>
      </div>

      <div class="form-group ">
        <label class="text-muted">Enter Address 2</label>
        <input formControlName="ADDRESSTWO" type="email" class="form-control"  placeholder="Enter Address lane 2"  >
      </div>
      
    <div class="row">
        <div class="form-group drop col mt-2 ">
            <label for="role"class="text-muted">Enter Role</label>
            <input formControlName="ROLE" type="email" class="form-control"  placeholder="Enter Role"  >

          </div>

          

          
         <div class="col pt-4">
            <label for="date"class="text-muted">*Select Start Date:</label>
            <input formControlName="STARTDATE" type="date" id="sdate" name="sdate"min="2024-05-14" max="2030-12-31">
          <small class="text-danger" *ngIf="userCreationForm.controls['STARTDATE'].dirty && userCreationForm.hasError('required','STARTDATE')">*Startdate is required</small>
        </div>

        <div class="col pt-4 ">
           <label for="birthday"class="text-muted">*Select End Date:</label>
           <input formControlName="ENDDATE" type="date" id="sdate" name="sdate"min="2024-05-14" max="2030-12-31">
           <small class="text-danger" *ngIf="userCreationForm.controls['ENDDATE'].dirty && userCreationForm.hasError('required','ENDDATE')">*Enddate is required</small>
        </div>
    </div>

    <!-- Submit Button -->
    <div class="row">
    <button type="button" class="btn btn-danger col rounded-5 "(click)="onCancel()">Cancel</button>
    <button type="submit"  class="btn logout col rounded-5" (click)="onSubmit()">Submit</button>
   </div>

</div>
  </form>
