.dashboard-username{
    margin-top: 1%;
    margin-left: 1%;
    display: inline-block;
}
.dashboard-button {
    position: relative; 
     margin-left: 85%;
     margin-bottom: 2%;
     height: 40px;
  }

  .logout{
    background: #209E91;
    border: 1px solid #ffffff;
color: #ffffff;
}