<app-header></app-header>
<router-outlet></router-outlet>
<div class="border border-2 ">
    <h3 class="dashboard-username">Users</h3>
<button class="dashboard-button btn logout rounded-1 " (click)="addNew()">+ Add New</button >
</div>
<!-- <div class="row">
    <button class="col">All users</button>
    <button class="col">Bookmarked users</button>
</div> -->
  
 
      <mat-tab-group>
        <mat-tab label="All Users"> <app-allusers></app-allusers>  </mat-tab>
        <mat-tab label="Bookmarked Users ">
            <app-bookmarkedusers> </app-bookmarkedusers>
        </mat-tab>
      </mat-tab-group>

 


