<div class="table-container">
    <table mat-table [dataSource]="dataSource" >

        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef> FirstName </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.firstName}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> LastName </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
          <ng-container matColumnDef="UserName">
            <th mat-header-cell *matHeaderCellDef> UserName </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
          </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
        <ng-container matColumnDef="StartDate">
            <th mat-header-cell *matHeaderCellDef> StartDate </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let i=element;let row">

                <button mat-button [matMenuTriggerFor]="menu" class="">{{ row.status ? 'Active' : 'Inactive' }}</button>
                <mat-menu #menu="matMenu">
                   <button mat-menu-item (click)="Active(row.id)">
                    
                    Active</button>
                   <button mat-menu-item (click)="InActive(row.id)">InActive</button>
                </mat-menu>
            </td> 
            <!-- <td mat-cell *matCellDef="let element">{{element.status}} </td> -->
        </ng-container>

        

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
  
  <!-- Load More Button -->
  <!-- <div class="load-more-container">
    <button mat-raised-button color="primary" (click)="onLoadMoreClick()">Load More</button>
  </div>
   -->